
.display {
    background-color: rgb(211, 211, 211);
    padding: 15px;
    width: 285px;
    margin: auto;
    margin-top: 150px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
    color: black;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(138, 138, 138);
   }
   button:active {
    background-color: rgb(129, 127, 127);
   }

.btn-home {
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100px;
    padding: 12px 20px, 10px;
    background: #2fb8f8;
    margin: 15px;
}

.btn-calculator {
    border: none;
    color: #fff;
    font-size: 16px;
    width: 200px;
    float: right;
    padding: 12px 20px, 10px;
    background: #2fb8f8;
    margin: 15px;
}